.controlWarehouse {
    margin-top: 2%;
    margin-left: 2%;
}

.warehouse-control-dropdown {
    height: 32px;
    font-size: 16px;
    padding: 5px 10px;
    display: inline-block;
    margin-left: 40px;
    color: #D5D9DE;
}

.warehouse-control-input {
    display: inline-block;
    vertical-align: middle;
}

.warehouse-control-input input{
    height: 30px;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    background-color: #1f1f1f;
    color: #D5D9DE;
    border: none;
    outline: none;
}
.warehouse-control-input input:focus,
.warehouse-control-input input:active {
    outline: none;
}

.warehouse-control-dropdown-modal {
    width: 200px;
    font-size: 16px;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.warehouse-control-input-icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: top;
    background: url("../../images/search-icon.png") no-repeat;
    background-size: 20px 20px;
    background-color: #1f1f1f;
    background-position: 5px 6px;
    border: none;
    cursor: pointer;
}

.wc-del-dp {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #d5d9de;
}
.wc-del-dp-bg {
    width: 100px;
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    vertical-align: bottom;
}

@media screen and (max-height: 768px) and (min-height: 400px) {
    .dataTable{
        margin-top: 2%;
        margin-left: 2%;
        height: 450px;
        background-color: #1f1f1f;
        border: #555555 solid 1px;
        box-shadow: 0 0 6px rgba(148, 148, 148, 0.42);
    }
    .warehouse-modal {
        width: 450px;
        height: 400px;
        margin-left: 36%;
        margin-top: 8%;
        background-color: #1f1f1f;
        border-radius: 6px;
    }
    .stocks{
        margin-left: 4%;
        height: 320px;
        margin-top: 10px;
        overflow: hidden;
    }
    .table-body {
        overflow: auto;
        overflow-y: scroll;
        width: inherit;
        height: 417px;
        margin: 0 auto;
        text-align: left;
    }
    .cargo-edit-modal {
        height: 250px!important;
        margin-top: 15%!important;
    }
    .cargo-edit {
        padding-left: 12px!important;
    }
}

@media screen and (min-height: 720px) {
    .dataTable{
        margin-top: 2%;
        margin-left: 2%;
        max-height: 640px;
        background-color: #1f1f1f;
        border: #555555 solid 1px;
        box-shadow: 0 0 6px rgba(148, 148, 148, 0.42);
    }
    .warehouse-modal {
        color: #285473 ;
        width: 450px;
        height: 420px;
        margin-left: 36%;
        margin-top: 15%;
        background-color: #edeef0;
        border-radius: 6px;
    }
    .stocks{
        margin-left: 4%;
        height: 330px;
        margin-top: 20px;
        overflow: hidden;
    }
    .table-body {
        overflow: auto;
        overflow-y: scroll;
        width: inherit;
        height: 667px;
        margin: 0 auto;
    }
    .cargo-edit-modal {
        height: 250px!important;
        margin-top: 14%!important;
        margin-left: 40%;
    }
    .cargo-edit {
        padding-left: 12px!important;
    }
}

.header-cell {
    background-color: #424242;
}

.table-header {
    border-spacing: unset;
    width: inherit;
}

.table-cell {
    border: black solid 1px;
    text-align: center;
    padding: 5px 6px 5px 5px;
    overflow: hidden;
}

.table-body table {
    border-spacing: unset;
    width: 100%;
    margin: 0 auto;
}

.some-check-tool:before {
    background-color: gray;
    content: "";
    width: 13px;
    height: 13px;
    position: absolute;
}

.table-body::-webkit-scrollbar {
    width: 6px;
    position: absolute;
}

.table-body::-webkit-scrollbar-thumb {
    width: 5px;
}

.chbox-cell {
    width: 30px;
    border-left: none;
}

.art-cell {
    width: 150px;
    max-width: 150px;
}

.name-cell {
    width: 150px;
    max-width: 150px;
}

.count-cell {
    width: 100px;
    max-width: 100px;
}

.warehouse-cell {
    border-right: black solid 1px;
    border-collapse: collapse;
    padding: 0;
    border-spacing: 0;
    text-align: left;
    overflow-y: hidden;
    overflow-x: hidden;
}

.wh-storeWrapper {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.wh-storeName {
    border-bottom: black solid 2px;
    padding-right: 5px;
    padding-left: 2px;
    overflow: hidden;
    white-space: nowrap;
}

.wh-first {
    border-right: black solid 1px;
}


.wh-last {
    border-left: black solid 1px;
    border-right: black solid 1px;
}

.wh-middle {
    border-left: black solid 1px;
    border-right: black solid 1px;
}

.wh-table-row {
    transition: 0.3s;
}

.wh-table-row:hover {
    background-color: #555555;
}