.table-holder {
    display: inline-block;
    vertical-align: top;
}

.wc-input {
    border: none;
    background: #1f1f1f;
    color: #d5d9de;
}

.wc-input:active, .wc-input:focus {
    outline: none;
}

@media screen and (min-height: 720px) {
    .table {
        font-size: 13px !important;
    }
    .pco, .rco, .acquiring, .account, .date {
        border: black solid 3px!important;
    }
    .wc-day, .wc-index, .wc-name {
        border: black solid 3px!important;
    }
    .p-name, .p-salary, .p-salaryPay {
        border: black solid 3px!important;
    }
    .wc-input {
        max-width: 38px;
        margin: 0 auto;
        font-size: 13px;
        vertical-align: top;
    }
}

@media screen and (max-height: 768px) and (min-height: 400px) {
    .table {
        font-size: 9px !important;
    }
    .pco, .rco, .acquiring, .account, .date {
        border: black solid 2px!important;
    }
    .wc-day, .wc-index, .wc-name {
        border: black solid 2px!important;
    }
    .p-name, .p-salary, .p-salaryPay {
        border: black solid 2px!important;
    }
    .wc-input {
        max-width: 38px;
        margin: 0 auto;
        font-size: 9px;
        vertical-align: top;
    }
}

.table {
    display: inline-block !important;
    background-color: #1f1f1f !important;
    color: #D5D9DE !important;
    margin-left: 40px !important;
    border: #555555 solid 1px !important;
    box-shadow: 0 0 6px rgba(148, 148, 148, 0.42) !important;
}

.table table {
    border-collapse: collapse !important;
    border: black solid 2px !important;
}

.pco, .rco, .account, .acquiring {
    text-align: center !important;
    background-color: #424242 !important;
    padding: 0!important;
    padding-left: 5px!important;
    padding-right: 5px!important;
}

.date {
    text-align: right !important;
    background-color: #424242 !important;
    padding: 0!important;
    padding-left: 5px!important;
    padding-right: 5px!important;
}

.statistics {
    margin-top: 10px;
    overflow: auto;
}

.turnover-row .pco, .turnover-row .rco,
.turnover-row .acquiring, .turnover-row .account{
    background-color: #1f1f1f !important;
    padding: 0!important;
}

.turnover-row .pco:hover, .turnover-row .rco:hover,
.turnover-row .acquiring:hover, .turnover-row .account:hover {
    background-color: #9c00b8 !important;
    cursor: pointer!important;
}

.wc-table table {
    border-collapse: collapse!important;
}

.wc-table {
    display: block!important;
    margin-bottom: 40px;
}

.wc-index {
    max-width: 30px!important;
    min-width: 30px!important;
    text-align: right!important;
    background-color: #424242!important;
    padding: 0!important;
    padding-left: 5px!important;
    padding-right: 5px!important;
}

.wc-name {
    min-width: 150px !important;
    text-align: center!important;
    background-color: #424242!important;
    padding: 0!important;
    padding-left: 5px!important;
    padding-right: 5px!important;
}

.wc-row .wc-name, .wc-row .wc-day {
    background-color: #1f1f1f!important;
}

.wc-day {
    min-width: 30px!important;
    max-width: 30px!important;
    text-align: center!important;
    background-color: #424242!important;
    padding: 0!important;
}

.wc-row .wc-day:hover {
    background-color: #9c00b8 !important;
    cursor: pointer!important;
}

.p-table-holder {
    display: inline-block;
    margin-left: 40px;
}

.p-name, .p-salary, .p-salaryPay {
    text-align: center!important;
    background-color: #424242!important;
}

.p-row .p-salary, .p-row .p-salaryPay {
    background-color: #1f1f1f!important;
}

.p-row .p-salary:hover, .p-row .p-salaryPay:hover {
    background-color: #9c00b8!important;
}

.p-name {
    min-width: 150px!important;
    max-width: 150px!important;
    padding: 0!important;
}
.p-salary {
    min-width: 80px!important;
    max-width: 80px!important;
    padding: 0!important;
}
.p-salaryPay {
    min-width: 175px!important;
    max-width: 175px!important;
    padding: 0!important;
}