
.table-holder {
    display: inline-block;
    vertical-align: top;
}

.wc-input {
    border: none;
    background: #fff;
    color: #232323 ;
}

.wc-input:active, .wc-input:focus {
    outline: none;
}

@media screen and (min-height: 720px) {
    .statistics {
        overflow-x: scroll;
    }
    .tmp-wrapper {
        width: 100%;
        overflow-x: scroll;
        height: 89vh;
        overflow-y: scroll;
    }
}

@media screen and (max-height: 768px) and (min-height: 400px) {
    .statistics {
        overflow-x: scroll;
    }
    .tmp-wrapper {
        width: 100%;
        overflow-x: scroll;
        height: 89vh;
        overflow-y: scroll;
    }
    .p-input {
        min-width: 100% !important;
    }
}

.wc-input {
    max-width: 30px;
    margin: 0 auto;
    font-size: 13px;
    vertical-align: top;
    min-height: 17px;
    min-width: 100%;
}

.pco, .rco, .acquiring, .account, .date {
    border: #edeef0  solid 2px!important;
    color: white!important;
}
.wc-day, .wc-index, .wc-name {
    border: #edeef0  solid 2px!important;
}
.p-name, .p-paid, .p-remains {
    border: #edeef0  solid 2px!important;
}
.r-index, .r-rank, .r-payment {
    border: #edeef0  solid 2px!important;
}

.turnTitle-title {
    border: 2px solid #edeef0 !important;
    border-bottom-width: 3px !important;
}
.turnTitle-name {
    display: inline-block;
    border-left:  #edeef0  solid 2px!important;
    border-right:  #edeef0  solid 1px!important;
    border-bottom:  #edeef0  solid 1px!important;
    margin: 0 auto;
    width: 115px;
    float: left;
}
.turnTitle-value {
    display: inline-block;
    border-left:  #edeef0  solid 1px!important;
    border-right:  #edeef0  solid 2px!important;
    border-bottom:  #edeef0  solid 1px!important;
    margin: 0 auto;
    float: left;
    width: 125px;
}
.turnTitle {
    width: inherit;
    font-size: 12px;
}

.table {
    font-size: 13px !important;
}

.r-index {
    min-width: 20px!important;
    max-width: 20px!important;
}
.r-rank {
    min-width: 150px!important;
    max-width: 150px!important;
}
.r-payment {
    min-width: 80px!important;
    max-width: 80px!important;
}

.date {
    min-width: 90px!important;
    max-width: 90px!important;
}

.table {
    display: inline-block !important;
    background-color: #fff !important;
    color: #232323  !important;
    margin-left: 40px !important;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.83) !important;
}

.table table {
    border-collapse: collapse !important;
    border:  #edeef0  solid 2px!important;
}

.pco, .rco, .account, .acquiring {
    text-align: center !important;
    background-color: #4a76a8 !important;
    padding: 0!important;
    padding-left: 5px!important;
    padding-right: 5px!important;
    min-width: 70px!important;
}

.date {
    text-align: right !important;
    background-color: #4a76a8 !important;
    padding: 0!important;
    padding-left: 5px!important;
    padding-right: 5px!important;
}

.statistics {
    margin-top: 10px;
    overflow: auto;
}

.turnover-row .pco, .turnover-row .rco,
.turnover-row .acquiring, .turnover-row .account{
    background-color: #fff !important;
    color: #232323!important;
    padding: 0!important;
}

.turnover-row .pco:hover, .turnover-row .rco:hover,
.turnover-row .acquiring:hover, .turnover-row .account:hover {
    background-color: #edeef0  !important;
    cursor: pointer!important;
    color: #232323!important;
}

.wc-table table {
    border-collapse: collapse!important;
}

.wc-table {
    display: block!important;
    margin-bottom: 40px;
}

.wc-index {
    max-width: 12px!important;
    min-width: 12px!important;
    text-align: right!important;
    background-color: #4a76a8!important;
    padding: 0!important;
    color: white!important;
    padding-left: 5px!important;
    padding-right: 5px!important;
}

.wc-name {
    min-width: 150px !important;
    max-width: 150px !important;
    text-align: center!important;
    background-color: #4a76a8!important;
    padding: 0!important;
    color: white!important;
    padding-left: 5px!important;
    padding-right: 5px!important;
}

.wc-row .wc-name, .wc-row .wc-day {
    background-color: #fff!important;
    color: #232323!important;
    overflow: hidden!important;
}

.wc-day {
    text-align: center!important;
    background-color: #4a76a8!important;
    color: #fff!important;
    padding: 0!important;
    min-width: 32px!important;
    max-width: 32px!important;
}

.wc-row .wc-day:hover {
    background-color: #edeef0  !important;
    cursor: pointer!important;
}

.rc-table-title {
    padding: 0!important;
    border: none!important;
    text-align: center;
    font-size: 12px!important;
}

.s-table-holder {
    display: inline-block;
    margin-left: 40px;
}

.s-name, .s-workDays, .s-resells, .s-salary, .s-salaryPay, .s-sum{
    text-align: center!important;
    background-color: #4a76a8 !important;
    border: #edeef0  solid 2px!important;
    color: white;

}

.s-row .s-salary, .s-row .s-workDays, .s-row .s-resells, .s-row .s-salaryPay, .s-row .s-sum {
    background-color: #fff!important;
    color: #232323!important;
}

.s-row .s-salary:hover, .s-row .s-salaryPay:hover, .s-row .s-workDays:hover, .s-row .s-resells:hover, .s-row .s-sum:hover{
    background-color: #edeef0 !important;
    color: #232323!important;
    cursor: pointer!important;
}

.s-name {
    min-width: 150px!important;
    max-width: 150px!important;
    overflow: hidden;
    padding: 0!important;
}

.s-salary {
    min-width: 80px!important;
    max-width: 80px!important;
    padding: 0!important;
}

.s-salaryPay {
    min-width: 100px!important;
    max-width: 100px!important;
    padding: 0!important;
}

.s-sum {
    padding: 0!important;
    min-width: 80px!important;
    max-width: 80px!important;
}

.s-workDays {
    padding: 0!important;
    min-width: 160px!important;
    max-width: 160px!important;
}

.s-resells {
    padding: 0!important;
    min-width: 160px!important;
    max-width: 160px!important;
}

.p-name {
    min-width: 150px!important;
    max-width: 150px!important;
    overflow: hidden;
    padding: 0!important;
}

.p-paid {
    min-width: 90px!important;
    max-width: 90px!important;
}

.p-remains {
    min-width: 80px!important;
    max-width: 80px!important;
}

.p-name, .p-paid, .p-remains {
    padding: 0!important;
    text-align: center!important;
    color: white!important;
    background-color: #4a76a8!important;
}

.p-row .p-paid, .p-row .p-remains {
    background-color: #fff!important;
    color: #232323!important;
}

.p-row .p-paid:hover, .p-row .p-remains:hover {
    background-color: #edeef0 !important;
    color: #232323!important;
    cursor: pointer!important;
}

.dropdownPlaceholder {
    background-color: #4a76a8 ;
    color: white!important;
}
.dropdownPlaceholder option {
    background-color: white;
    color: #232323!important;
}

.r-index, .r-rank, .r-payment {
    background-color: #4a76a8!important;
    padding: 0!important;
    color: white;
    text-align: center!important;
}

.r-row .r-rank, .r-row .r-payment {
    background-color: #fff!important;
    color: #232323;
}

.r-row .r-rank:hover, .r-row .r-payment:hover {
    background-color: #edeef0 !important;
    color: #232323!important;
    cursor: pointer;
}

.r-payment, .r-rank {
    min-width: 100%;
    min-height: 100%;
}

.r-btn {
    font-size: 12px!important;
    display: block!important;
    margin-left: 40px;
    padding: 3px 3px 3px 3px!important;
}