.plan-number {
    color: black;
}

.plan-yellow .plan-index {
    background-color: #fde910!important;
}

.plan-light-blue .plan-index {
    background-color: #42aaff!important;
}

.plan-orange .plan-index {
    background-color: #ffa500!important;
}

.plan-purple .plan-index {
    background-color: #8b00ff!important;

}

.plan-blue .plan-index {
    background-color: #00008b!important;
}

.plan-pink .plan-index {
    background-color: #ffc0cb!important;
}

.plan-controls {
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 30px;
}

.plan-search {
    margin-right: 20px!important;
}

.plan-modal {
    color: #285473 ;
    width: 26vw;
    height: 60vh;
    margin-left: 37vw;
    margin-top: 8%;
    background-color: #fff;
    border-radius: 6px;
}

.plan-chd {
    height: 50vh;
    padding-left: 10px;
    overflow: auto;
    overflow-x: scroll;
}

.input-date {
    width: 200px;
}

@media screen and (min-height: 720px) {
    .plan-chd {
        height: 53vh;
    }
    .planning {
        height: 89vh;
        overflow-y: scroll;
    }
    .plan-tableHolder {
        width: 103vw;
    }
}

@media screen and (max-height: 768px) and (min-height: 400px) {
    .planning {
        height: 88vh;
        overflow-y: scroll;
    }
    .plan-tableHolder {
        width: 140vw;
    }
    .plan-type-fil {
        width: 200px;
    }
}

.plan-table {
    font-size: 13px !important;
    background-color: #fff !important;
    color: #232323  !important;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.83) !important;
    margin: 30px;
    width: fit-content;
}

.plan-table table {
    border-collapse: collapse;
}

.plan-index, .plan-customer, .plan-contacts, .plan-date,
.plan-ready, .plan-rs, .plan-store, .plan-manager,
.plan-name, .plan-description, .plan-price, .plan-paid,
.plan-status, .plan-note {
    background-color: #4a76a8!important;
    padding: 2px 2px 0px 2px!important;
    color: white;
    border: #edeef0  solid 2px!important;
    text-align: center!important;
    width: fit-content!important;
}

.plan-index {
    min-width: 100px;
    max-width: 100px;
    padding: 0!important;
}

.plan-rows .plan-index {
    color: black!important;
}

.plan-rows .plan-customer, .plan-rows .plan-contacts, .plan-rows .plan-date,
.plan-rows .plan-ready, .plan-rows .plan-rs, .plan-rows .plan-store, .plan-rows .plan-manager,
.plan-rows .plan-name, .plan-rows .plan-description, .plan-rows .plan-price, .plan-rows .plan-paid,
.plan-rows .plan-status, .plan-rows .plan-note {
    padding: 0 0 0 5px!important;
    text-align: left!important;
    vertical-align: top!important;
    background-color: #fff !important;
    color: #232323!important;
    margin: 0!important;
    overflow: hidden;
    transition: 0.3s!important;
}

.plan-customer, .plan-manager {
    min-width: 150px!important;
    max-width: 150px!important;
}

.plan-contacts {
    min-width: 150px!important;
    max-width: 150px!important;
}

.plan-date {
    min-width: 100px!important;
    max-width: 100px!important;
    padding-right: 5px!important;
}

.plan-rows .plan-date {
    min-width: 98px!important;
    max-width: 98px!important;
    text-align: right!important;
    padding-right: 5px!important;
}

.plan-ready {
    min-width: 90px!important;
    max-width: 90px!important;
    padding-right: 5px!important;
}

.plan-rows .plan-ready {
    min-width: 88px!important;
    max-width: 88px!important;
    text-align: right!important;
    padding-right: 5px!important;
}

.plan-rs, .plan-store{
    min-width: 150px!important;
    max-width: 150px!important;
}

.plan-rows .plan-rs, .plan-rows .plan-store {
    text-align: center!important;
}

.plan-name {
    min-width: 100px!important;
    max-width: 100px!important;
}

.plan-rows .plan-name {
    text-align: center!important;
}

.plan-description {
    min-width: 150px!important;
    max-width: 150px!important;
}

.plan-price, .plan-paid {
    min-width: 95px!important;
    max-width: 95px!important;
    padding-right: 5px!important;
}

.plan-rows .plan-price, .plan-rows .plan-paid {
    min-width: 93px!important;
    max-width: 93px!important;
    text-align: right!important;
    padding-right: 5px!important;
}

.plan-status {
    min-width: 90px!important;
    max-width: 90px!important;
    padding-right: 5px!important;
}

.plan-rows .plan-status {
    min-width: 88px!important;
    max-width: 88px!important;
    text-align: right!important;
    padding-right: 5px!important;
}

.plan-note {
    min-width: 250px!important;
    max-width: 250px!important;
}

.plan-rows .plan-note {
    min-width: 254px!important;
    max-width: 254px!important;
}

.plan-rows {
    cursor: pointer;
    width: fit-content!important;


}

.plan-red-text {
    color: red;
}

.plan-rows:hover > .plan-customer, .plan-rows:hover > .plan-contacts, .plan-rows:hover > .plan-date,
.plan-rows:hover > .plan-ready, .plan-rows:hover > .plan-rs, .plan-rows:hover > .plan-store, .plan-rows:hover > .plan-manager,
.plan-rows:hover > .plan-name, .plan-rows:hover > .plan-description, .plan-rows:hover > .plan-price, .plan-rows:hover > .plan-paid,
.plan-rows:hover > .plan-status, .plan-rows:hover > .plan-note{
    background-color: #4a76a8!important;
    color: white!important;
}