.dropdownPlaceholder{
    background-color: #424242;
    color: #ffffff;
    border-radius: 4px;
    padding-left: 5px;
    width: 95%;
    cursor: pointer;
    font-size: 30px;
}

.dropdownPlaceholder:active,
.dropdownPlaceholder:focus{
    border: none;
}
