.controlCashbox{
    margin-top: 4%;
    margin-left: 2%;
    vertical-align: top;
}

@media screen and (max-height: 768px) and (min-height: 400px) {
    .cb-width {
        width: 700px;
    }
    .cb-height {
        height: 500px;
    }
    .cashbox-search {
        border-bottom: black solid 4px;
        width: 349px;
    }
    .cb-search-input-width {
        width: 310px;
    }
    .controlCashbox button {
        display: block;
        width: 150px;
        margin-bottom: 15px;
    }
    .cb-modal-sz {
        width: 300px;
        height: 450px;
        margin-left: 37%;
        margin-top: 8%;
        border-radius: 6px;
    }
    .cb-child{
        overflow: auto;
        overflow-y: scroll;
        height: 380px;
        margin-left: 8px;
    }
    .cb-btn-w {
        width: 70px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .cb-c-title {
        width: 187px;
        text-align: left;
    }
    .cb-countable {
        width: 280px;
        margin-bottom: 10px;
    }
    .cb-c-box {
        display: inline-block;
    }
    .cb-c-cross {
        vertical-align: top;
        max-width: 25px;
        max-height: 25px;
    }
}

@media screen and (min-height: 720px) {
    .cb-width {
        width: 900px;
    }
    .cashbox-search {
        border-bottom: black solid 4px;
        width: 448px;
    }
    .cb-height {
        height: 700px;
    }
    .cb-search-input-width {
        width: 410px;
    }
    .controlCashbox button {
        display: block;
        width: 200px;
        margin-bottom: 20px;
        font-size: 20px;
    }
    .cb-modal-sz {
        width: 350px;
        height: 600px;
        margin-left: 40%;
        margin-top: 8%;
        border-radius: 6px;
    }
    .cb-child{
        overflow: auto;
        overflow-y: scroll;
        height: 520px;
        margin-left: 8px;
    }
    .cb-btn-w {
        width: 86px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .cb-c-title {
        width: 239px;
        text-align: left;
    }
    .cb-countable {
        width: 330px;
        margin-bottom: 10px;
    }
    .cb-c-box {
        display: inline-block;
    }
    .cb-c-cross {
        vertical-align: top;
        max-width: 23px;
        max-height: 23px;
    }
}

.cashbox-services {
    border-right: black solid 1px;
    height: inherit;
    vertical-align: top;
}

.cashbox-stocks {
    border-left: black solid 1px;
    height: inherit;
    vertical-align: top;
}

.cashbox-list {
    overflow: auto;
    overflow-y: scroll;
}

.cb-listItem {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: black solid 2px;
    width: inherit;
    text-align: center;
}

.cashbox-info {
    margin-top: 4%;
    margin-left: 2%;
    background-color: #1f1f1f;
    border: #555555 solid 1px;
    box-shadow: 0 0 6px rgba(148, 148, 148, 0.42);
    vertical-align: top;
}

.cashbox-search-input {
    height: 30px;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    background-color: #1f1f1f;
    color: #D5D9DE;
    border: none;
    outline: none;
}

.cashbox-search-input:active {
    outline: none;
}

.cashbox-services {
    display: inline-block;
}

.cashbox-stocks {
    display: inline-block;
}

.cb-c-btn {
    text-decoration-color: #D5D9DE;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    min-width: 10px;
    min-height: 20px;
    -webkit-border-radius: 3px;
    border-radius: 15px;
    font: normal 16px/normal "Calibri", "Calibri Light", serif;
    -webkit-box-shadow: 0 0 9px 0 rgba(90,90,90,1) ;
    box-shadow: 0 0 9px 0 rgba(90,90,90,1) ;
    border: none;
    color: black;
    background-color: #41A7BB;
    text-shadow: -1px 1px #376C80;
    transition: 0.3s;
}

.cb-c-btn:hover {
    background-color: #1E4964;
    text-shadow: -1px 1px #44006d;
}

.cb-c-btn:active {
    background-color: #05012E;
    text-shadow: -1px 1px #160047;
}
.cb-c-b-input {
    min-width: 20px;
    max-width: 20px;
    background: #1f1f1f;
    color: #D5D9DE;
    border: #9c00b8 solid 2px;
}

.cb-c-b-input:focus {
    outline: none;
}

.cb-modal {
    background-color: #1f1f1f;
}