.btn-m{
    text-decoration-color: #D5D9DE;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 5px 10px;
    -webkit-border-radius: 3px;
    border-radius: 4px;
    font: normal 16px/normal "Calibri", "Calibri Light", serif;
    -webkit-box-shadow: 0 0 9px 0 rgba(90,90,90,1) ;
    box-shadow: 0 0 9px 0 rgba(90,90,90,1) ;
    border: none;
}

.link-decor {
    color: #2a5885 ;
    text-decoration: none;
}

.link-decor:hover,
.link-decor .hover {
    text-decoration: underline;
}

.link-decor:active,
.link-decor .active {
    color: #9c00b8;
}

.pointed {
    cursor: pointer;
}

button:active, button:focus {
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
}

.blue-button {
    color: #D5D9DE;
    background-color: #5b88bd ;
    text-shadow: -1px 1px #376C80;
    border: none;
    transition: 0.3s;

}

.blue-button:hover,
.blue-button .hover {
    background-color: #5b88bd;
    text-shadow: -1px 1px #5982b5;

}

.blue-button:active,
.blue-button .active {
    background-color: #5181b8 ;
    text-shadow: -1px 1px #4e78ad;

}



.action-button {
    background-color: #5fb053;
    border-color: #6ec256;
    box-shadow: 0 0 9px 0 #499149;
    transition: 0.2s;
}

.action-button:hover {
    background-color: #6ec256;
}

.action-button:checked {
    background-color: #499149;
}