select:active,
select:focus {
    outline: none;
}

.dropdown-sizes {
    width: 85%;
    font-size: 30px;
}

.dropdownPlaceholder {
    background-color: #edeef0;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.34);
    color: #55677d!important; ;
    border-radius: 4px;
    padding-left: 5px;
    cursor: pointer;
    border: none;
}

.dropdownPlaceholder:active,
.dropdownPlaceholder:focus {
    border: none;
}
