select:active,
select:focus {
    outline: none;
}

.dropdown-sizes {
    width: 85%;
    font-size: 30px;
}

.dropdownPlaceholder {
    background-color: #424242;
    color: #ffffff;
    border-radius: 4px;
    padding-left: 5px;
    cursor: pointer;
    border: none;
}

.dropdownPlaceholder:active,
.dropdownPlaceholder:focus {
    border: none;
}
