.MainPageHolder-d {
    background-color: #1f1f1f;
}

.MainPageHolder-d #buttons {
    margin-left: 5%;
    display: inline-block;
}

.MainPageHolder-d #buttons button {
    padding-top: 10px;
}

.imgHolder {
    background-image: url("../../images/ava-logo-s.png");
    width: 25px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 1%;
    left: 1%;
}

.MainPageHolder-t button,
.MainPageHolder-d button {
    border-radius: 0;
    border: none;
    box-shadow: none;
    background-color: #1f1f1f;
    color: #D5D9DE;
    padding: 10px;
    font-size: 16px;
}


.MainPageHolder-d button:hover,
.MainPageHolder-t button:hover,
.MainPageHolder-d button.hover{
    background-color: #424242;
}

.MainPageHolder-t button.checked,
.MainPageHolder-d button.checked {

}

.MainPageHolder-t {
    text-align: center;
}

#exitButton {
    padding-top: 17px;
    padding-bottom: 16px;
    float: right;
    margin-right: 1%;
}

@media screen and (min-height: 720px) {
    #alerts {
        position: absolute;
        bottom: 4%;
        right: 2%;
    }

    #alerts .alert-icon {
        background-image: url("../../images/message-icon.png");
        width: 60px;
        height: 60px;
        background-size: 60px 60px;
    }

    #alerts .alertbox-bg {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    #alerts .alertbox {
        width: 450px;
        position: fixed;
        top:7%;
        right: 1%;
        background-color: #1f1f1f;
        border: #555555 solid 1px;
        box-shadow: 0 0 6px rgba(148, 148, 148, 0.42);
    }

    #alerts .alterbox-content {
        height: 760px;
        overflow: auto;
        overflow-y: scroll;
    }
}

@media screen and (max-height: 768px) and (min-height: 400px) {
    #alerts {
        position: absolute;
        bottom: 4%;
        right: 2%;
    }

    #alerts .alert-icon {
        background-image: url("../../images/message-icon.png");
        width: 60px;
        height: 60px;
        background-size: 60px 60px;
    }

    #alerts .alertbox-bg {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    #alerts .alertbox {
        width: 400px;
        position: fixed;
        top:10%;
        right: 1%;
        background-color: #1f1f1f;
        border: #555555 solid 1px;
        box-shadow: 0 0 6px rgba(148, 148, 148, 0.42);
    }

    #alerts .alterbox-content {
        height: 470px;
        overflow: auto;
        overflow-y: scroll;
    }
}
