.MainPageHolder-d {
    background-color: #4a76a8 ;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.MainPageHolder-d #buttons {
    margin-left: 5%;
    display: inline-block;
}

.MainPageHolder-d .navbar-btn:hover,
.MainPageHolder-t .navbar-btn:hover,
.MainPageHolder-d .navbar-btn.hover{
    background-color: #224b7a ;
}

.MainPageHolder-t .navbar-btn.checked,
.MainPageHolder-d .navbar-btn.checked {

}

.MainPageHolder-t {
    text-align: center;
}

#children {
    overflow: auto;
}

@media screen and (min-height: 720px) {
    /*#children {
        min-height: 877px;
        max-height: 877px;
    }*/
    .MainPageHolder-t .navbar-btn,
    .MainPageHolder-d .navbar-btn {
        border-radius: 0;
        border: none;
        box-shadow: none;
        background-color: #4a76a8 ;
        color: #fff ;
        padding: 17px 10px 20px;
    }
    #exitButton {
        padding-top: 18px;
        padding-bottom: 18px;
        float: right;
        margin-right: 1%;
    }
    .imgHolder {
        background: url("../../images/ava-logo-s.png") no-repeat;
        background-size: 35px 40px;
        width: 35px;
        height: 40px;
        position: absolute;
        top: 15%;
        left: 1%;
    }
    .MainPageHolder-d .navbar-btn {
        font-size: 20px;
    }

    .navbar-chngStore {
        border-radius: 0;
        border: none;
        box-shadow: none;
        background-color: #4a76a8 ;
        color: #fff ;
        max-width: 160px;
        padding-top: 12px;
        padding-bottom: 12px;
        vertical-align: top;
        position: absolute;
        right: 90px;
        font-size: 16px;
    }
    .navbar-chngStore:hover {
        background-color: #224b7a;
    }
    .navbar-curStore{
        box-shadow: none;
        color: #D5D9DE;
        max-width: 500px;
        padding-top: 10px;
        white-space: normal;
        vertical-align: top;
        display: inline-block;
        font-size: 16px;
        position: absolute;
        right: 260px;
    }
}

@media screen and (max-height: 768px) and (min-height: 400px) {
    /*#children {
        min-height: 580px;
        max-height: 580px;
    }*/
    .MainPageHolder-t .navbar-btn,
    .MainPageHolder-d .navbar-btn {
        border-radius: 0;
        border: none;
        box-shadow: none;
        background-color: #4a76a8 ;
        color: #fff ;
        padding: 15px 10px 17px;
    }
    #exitButton {
        padding-top: 16px;
        padding-bottom: 16px;
        float: right;
        margin-right: 1%;
    }
    .imgHolder {
        background: url("../../images/ava-logo-s.png") no-repeat;
        background-size: 25px 30px;
        width: 25px;
        height: 30px;
        position: absolute;
        top: 15%;
        left: 1%;
    }
    .navbar-chngStore {
        border-radius: 0;
        border: none;
        box-shadow: none;
        background-color: #4a76a8 ;
        color: #fff ;
        max-width: 110px;
        padding-top: 10px;
        padding-bottom: 11px;
        vertical-align: top;
        position: absolute;
        right: 70px;
    }
    .navbar-chngStore:hover {
        background-color: #224b7a;
    }
    .navbar-curStore{
        box-shadow: none;
        color: #fff ;
        max-width: 180px;
        white-space: normal;
        vertical-align: top;
        display: inline-block;
        font-size: 12px;
        position: absolute;
        right: 190px;
    }
}

#children {
    min-height: 89vh;
    max-height: 89vh;
}