.options {
    position: absolute;
    display: block;
    top: 49px;
    left: 0;
    right: 0;
    z-index: 2000;
    background-color: #f7f7f7;
    color: black ;
    width: 380px;
    height: 250px;
    overflow: auto;
    overflow-y: scroll;
}
.search-dropdown {
    position: relative;
    border-radius: 6px;
    background: #edeef0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.21);
    width: fit-content;
    height: fit-content;
}
.options div {
    cursor: pointer;
    padding: 15px 5px;
    font-size: 20px;
}
.options div:hover,
.options div.hover{
    background-color: #edeef0 ;
}


.search-input {
    font-size: 24px;
    border: none;
    outline: 0;
    outline-offset: 0;
    background: #edeef0;
    color: black ;
    padding: 10px 5px 10px 5px;
    width: 340px;
    position: relative;
}

.cross-dropdown-active {
    background: url("../../images/cross-icon.png") no-repeat!important;
    cursor: pointer;
    background-position-y: center!important;
}

.cross-dropdown {
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 48px;
    background-size: 30px 30px;
    background: #edeef0 0 8px;
    border: none;
    position: relative;
}